doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    title Document
  body
    include ./header.pug
    h1 #{person}
    form(action='/', method='post')
      h2 &#x5355;&#x56FE;&#x4E0A;&#x4F20;
      |         
      input(type='text', name='logo')
      |         
      input(type='submit', value='提交')